# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"
S3_BUCKET_NAME="bucket_name"
PRIVATE_AWS_REGION="aws_region_name"
PRIVATE_AWS_ACCESS_KEY_ID="aws_access_key_id"
PRIVATE_AWS_SECRET_ACCESS_KEY="aws_secret_access_key"
CLOUDFLARE_ACCOUNT_ID=youaccountid
